[Desktop Entry]
Type=Application
Name=VinaLab Light
Comment=Interface desktop para AutoDock Vina
Exec=vinalab
TryExec=vinalab
Icon=vinalab
Terminal=false
Categories=Science;Chemistry;
